* {
  padding: 0;
  margin: 0;
}

.background-image-container {
  background-image: url("../public/Images/page-bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-gray {
  background-color: rgb(220, 220, 220);
}

.bg-blue {
  background-color: #0A66C2;
}